In [1]:
'Hello world iam naidu'

'Hello world iam naidu'

In [3]:
print('hellp world i am naidu')

hellp world i am naidu

In [5]:
print(type('hellp world i am naidu'))  ##change in data types from csv files by using csasting function

<class 'str'>

In [6]:
123456789

123456789

In [7]:
print(123456789)

123456789

In [8]:
print(type(123456789))

<class 'int'>

In [9]:
8.56

8.56

In [10]:
print(8.56)

8.56

In [11]:
print(type(8.56))

<class 'float'>

In [12]:
print(True)

True

In [13]:
print(type(True))

<class 'bool'>

In [14]:
print(5==5)

True

In [16]:
print(5<3)

False

In [17]:
teststring = 'hello world  iam naidu'
testinteger = 9948978485
testfloat = 66525.645
testbolean = True

In [24]:
#Lets take credit card example
cc = 9948978485
print (cc)

9948978485

In [26]:
print(teststring)
print(testinteger)
print(testfloat)
print(testbolean)
print(testinteger,teststring,testfloat,testbolean)

hello world  iam naidu
9948978485
66525.645
True
9948978485 hello world  iam naidu 66525.645 True

 historical time series data instead of rembering all the data points in the time series one can store them in varaiables called stock data vvraiable/ time series varaible

In [28]:
test_ = teststring

In [29]:
print(test_)

hello world  iam naidu

In [34]:
teststring = 'hello world i am naidu' .replace('hello','hi')
##if we want to make change in varaiable but still you want original valuesto axis then we can store the value in anoother varaible
#change the value in (teststring)

In [31]:
print(teststring)

hi world i am naidu

In [32]:
print(test_)

hello world  iam naidu

In [35]:
##what happens test if we assigne dto test intewger to varaible

In [38]:
test_=testinteger
print(test_)

9948978485

## casting function is for convertinh for one daty type to another into string, into integer intlo float

In [39]:
testinteger = 9948978485
print(type(str(testinteger)))

<class 'str'>

In [41]:
print(float(testinteger))

9948978485.0

In [42]:
print(type(float(testinteger)))

<class 'float'>

In [45]:
##operators